// key pad 
$color-keypad-btn-background: red;
$color-keypad-btn-border: blue;
$color-keypad-btn: white;
$color-keypad-keypad-background: gray;
$color-keypad-specialbtns-background: rgb(230, 98, 98);
$color-keypad-specialbtns-border: rgb(56, 56, 135);
$color-keypad-equalbtn-background: red;
$color-keypad-equalbtn-border: blue;
$color-keypad-equalbtn: white;
// display
$color-display-background: rgb(77, 77, 77);
$color-display-color: white;
// body 
$color-body-background: gray;
// header 
$color-header-color: white;
$color-header-switch-background: blue;
$color-header-switch-dot: yellow;