.keypad {
    width: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px 10px;
    border-radius: 14px;
    background-color: gray;

    .bottomLine {
        width: 100%;
        display: flex;
        gap: 10px;

        & > :first-child {
            flex-basis: 100%;
        }

        & > :nth-child(2) {
            flex-basis: 100%;
        }
    }
}