.switch-container {
    width: 140px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .themelabel {
        font-size: 12px;
        font-weight: bolder;
        padding: 0 0 2px 20px;
    }

    .switch {
        width: 50%;
        margin-left: 10px;
        flex-basis: 60%;

        &:hover .switchers {
            opacity: .5;
        }

        &:hover .switch-labels {
            opacity: 1;
        }

        .switch-labels{
            opacity: .6;
            width: 70%;
            margin: auto;
            transition: 200ms ease;
            label {
                cursor: pointer;
                font-weight: bolder;
                transition: 300ms ease;

                &:hover {
                    transform: scale(1.5) translateY(-5px);
                }
            }
        }

        .switchers {
            width: 80%;
            margin: auto;
            background-color: blue;
            padding: 3px;
            border-radius: 15px;
            .circle {
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: aqua;
            }

            &:hover {
                opacity: .5;
            }
            &:hover {
                opacity: .5;
            }
    
            
            input {
                display: none;
                // visibility: hidden;

                &:checked + .circle{
                    display: block;
                }
            }
        }


        .switch-labels, .switchers {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}