.header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 380px;
    padding: 10px 10px 30px;
}

@media (max-width: 450px) {
    .header {
        width: 320px;
    }
}